<section class="content">

  <h1>Draw gesture.</h1>
  <p>This tool provides high-quality human models for the purposes of figure drawing. Models are presented in an automated slideshow format. This tool is often useful for gesture drawing, which involves the quick sketching of many different poses.</p>
  <p>Use the settings below to configure the automated slideshow. Now get good.</p>

  <form action="/poses" method="get">

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">Slide duration</div>
      </div>
      <div class="panel-body">
        <label class="radio"><input type="radio" data-toggle="radio" name="duration" value="5" id="duration_5">5 seconds</label>
        <label class="radio"><input type="radio" data-toggle="radio" name="duration" value="30" id="duration_30" checked="checked">30 seconds</label>
        <label class="radio"><input type="radio" data-toggle="radio" name="duration" value="60" id="duration_60">60 seconds</label>
        <label class="radio"><input type="radio" data-toggle="radio" name="duration" value="120" id="duration_120">120 seconds</label>
        <label class="checkbox" for="timer_checkbox"><input type="checkbox" id="timer_checkbox" name="timer" data-toggle="checkbox" checked="checked"> Show timer</label>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">Model gender</div>
      </div>
      <div class="panel-body">
        <label class="radio"><input type="radio" data-toggle="radio" name="gender" value="all" id="gender_all" checked="checked">All</label>
        <label class="radio"><input type="radio" data-toggle="radio" name="gender" value="male" id="gender_male">Male</label>
        <label class="radio"><input type="radio" data-toggle="radio" name="gender" value="female" id="gender_female">Female</label>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">Nude</div>
      </div>
      <div class="panel-body">
        <label class="radio"><input type="radio" data-toggle="radio" name="nude" value="all" id="clothing_all" checked="checked">Don't care</label>
        <label class="radio"><input type="radio" data-toggle="radio" name="nude" value="1" id="clothing_nude">Yes</label>
        <label class="radio"><input type="radio" data-toggle="radio" name="nude" value="0" id="clothing_clothed">No</label>
      </div>
    </div>

    <div class="form-item"><input type="submit" value="Start drawing" class="btn btn-large btn-primary"></div>
  </form>

</section>