<script>
  Gesture.duration = <%= @duration %>
  Gesture.poses = <%= @poses.to_json.html_safe %>
</script>

<div class="images">

  <div class="loader">
    <div class="inner">Loading...</div>
  </div>

  <div class="controls">
    <a data-control="pause" class="btn btn-large btn-info" href="">pause</a>
    <a data-control="next" class="btn btn-large btn-info" href="">next</a>
    <a data-control="prev" class="btn btn-large btn-info" href="">prev</a>
    <br>
    <a href="/" class="btn btn-large">home</a>
  </div>

  <div class="current-image"></div>
  <div class="next-image"></div>
</div>