<script>
  Gesture.duration = <%= @duration %>
  Gesture.poses = <%= @poses.to_json.html_safe %>
</script>

<div class="images">

  <div class="loader">
    <div class="inner">Loading...</div>
  </div>

  <div class="bx-controls">
    <a data-control="pause" href="">pause</a>
    <a data-control="next" href="">next</a>
    <a data-control="prev" href="">prev</a>
    <br>
    <a href="/">home</a>
  </div>

  <div class="current-image"></div>
  <div class="next-image"></div>
</div>