<script>
  Gesture.duration = <%= @duration %>
  Gesture.poses = <%= @poses.to_json.html_safe %>
</script>

<div class="controls">
  <div class="left">
    <a data-control="prev" class="btn btn-info" href="">prev</a>
    <a data-control="next" class="btn btn-info" href="">next</a>
    <a data-control="pause" class="btn btn-info" href="">pause</a>
  </div>
  <div class="right">
    <a href="/" class="btn">home</a>
  </div>
</div>

<div class="images">

  <div class="loader">
    <div class="inner">Loading...</div>
  </div>

  <div class="current-image"></div>
  <div class="next-image"></div>
</div>