// Setup our namespace
Gesture = {};
Gesture.controls = {};
Gesture.callbacks = {};
Gesture.loaded = [];

$(function(){

  // Hide the top browser window on mobile
  window.scrollTo(0, 0);

  // Cache our control elements
  Gesture.controls.next = $('[data-control="next"]');
  Gesture.controls.prev = $('[data-control="prev"]');
  Gesture.controls.pause = $('[data-control="pause"]');

  // Control click: next
  Gesture.controls.next.click(function(e) {
    e.preventDefault();
    Gesture.slider.next();
  });

  // Control click: previous
  Gesture.controls.prev.click(function(e) {
    e.preventDefault();
    Gesture.slider.prev();
  });

  // Control click: pause / play
  Gesture.controls.pause.click(function(e) {
    e.preventDefault();
    if(Gesture.playing){
      Gesture.slider.stop();
    }else{
      Gesture.start();
    }
  });

  // Wait until the first image loads, then initialize and fade in the interface
  Gesture.load_first_image(Gesture.init);

});

Gesture.callbacks.slide_change = function(){
  var current_index = Gesture.slider.getPos();
  var num_slides = Gesture.slider.getNumSlides();

  if(Gesture.poses[current_index + 1] == undefined){
    Gesture.slider.stop();
    alert("This is the last pose in the set. Click OK to refresh a new set of poses.");
    window.location.reload();
    return;
  }

  var next_el = $('.slide').eq(current_index + 1);
  if(next_el.find('img').length == 0){
    Gesture.load_image(next_el, current_index + 1);
  }
  if(Gesture.timer && Gesture.playing) Gesture.start_progress();
}

Gesture.callbacks.stop = function(){
  Gesture.stop();
}

Gesture.load_image = function(el, index){
  var image_url = Gesture.poses[index].image.url;
  el.find('.slide-image').css('background-image', 'url(' + image_url + ')');
}

Gesture.load_first_image = function(callback){
  var src = $('.slide-image:first').attr('data-image-src');
  $('<img/>').attr('src', src).load(function() {
     $(this).remove(); // prevent memory leaks as @benweet suggested
     callback();
  });
}

Gesture.stop = function(){
  Gesture.playing = false;
  Gesture.controls.pause.html('<span class="glyphicon glyphicon-play"></span>');
  if(Gesture.timer) Gesture.reset_progress();
}

Gesture.start = function(){
  Gesture.playing = true;
  Gesture.slider.start();
  Gesture.controls.pause.html('<span class="glyphicon glyphicon-pause"></span>');
  if(Gesture.timer) Gesture.start_progress();
}

Gesture.start_progress = function(){
  Gesture.reset_progress();
  $('.progress').show();
  $('.progress-bar').animate({width: '100%'}, Gesture.duration, 'linear');
}

Gesture.reset_progress = function(){
  $('.progress-bar').stop(true).width(0);
  $('.progress').hide();
}

Gesture.init = function(){
  // Initiate the Swipe.js plugin
  Gesture.slider = Swipe(document.getElementById('slider'), {
    callback: Gesture.callbacks.slide_change,
    stopCallback: Gesture.callbacks.stop,
    continuous: false,
    disableScroll: true,
    auto: Gesture.duration,
  });

  // Initialize the playing status variable
  Gesture.playing = true;

  // If the timer is present, start the progress bar
  if(Gesture.timer) Gesture.start_progress();

  $('.loader').fadeOut(500);
}