Gesture = {};
Gesture.controls = {};

$(function(){

  window.scrollTo(0, 0);

  Gesture.controls.next = $('[data-control="next"]');
  Gesture.controls.prev = $('[data-control="prev"]');
  Gesture.controls.pause = $('[data-control="pause"]');

  Gesture.slider = Swipe(document.getElementById('slider'), {
    callback: slide_callback,
    continuous: false,
    disableScroll: true,
    auto: Gesture.duration,
  });

  Gesture.playing = true;

  Gesture.controls.next.click(function(e) {
    e.preventDefault();
    Gesture.stop();
    Gesture.slider.next();
  });

  Gesture.controls.prev.click(function(e) {
    e.preventDefault();
    Gesture.stop();
    Gesture.slider.prev();
  });

  Gesture.controls.pause.click(function(e) {
    e.preventDefault();
    Gesture.playing ? Gesture.stop() : Gesture.start();
  });

  $('.slide img').load(function(){
    $('.loader').fadeOut(500);
  });

});

function slide_callback(e){
  var current_index = Gesture.slider.getPos();
  var next_el = $('.slide').eq(current_index + 1);
  if(next_el.find('img').length == 0){
    load_image(next_el, current_index + 1);
  }
}

function load_image(el, index){
  var image_url = Gesture.poses[index].image.url;
  var image = $('<img />').attr('src', image_url);
  image.load(function(){
    el.html(image);
  });
}

Gesture.stop = function(){
  Gesture.playing = false;
  Gesture.slider.stop();
  Gesture.controls.pause.html('<span class="glyphicon glyphicon-play"></span>');
}

Gesture.start = function(){
  Gesture.playing = true;
  Gesture.slider.start();
  Gesture.controls.pause.html('<span class="glyphicon glyphicon-pause"></span>');
}