* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}

#wrapper {
  margin: auto;
  /*width: 100%;*/
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  /*overflow: hidden;*/
}

h1 {
  font-size: 3.5em;
}

/* Forms */

.form-item {
  margin-bottom: 10px;
}

fieldset {
  padding: 20px;
  margin-bottom: 10px;
}

input[type="submit"] {
  font-size: 20px;
  cursor: pointer;
}

label {
  display: block;
  cursor: pointer;
}

form .btn.btn-large { font-size: 1.5em; }


.images {
  height: 100%;
  text-align: center;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  /*width: 1000%;*/
}

.images img {
  max-width: 100%;
  max-height: 100%;
}

.slide {
  height: 100%;
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 60px;
}

.slide-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.controls {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  left: 0;
  z-index: 99;
  font-size: 24px;
  box-sizing:border-box;
  -moz-box-sizing:border-box;

  a {
    display: inline-block;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.content {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  padding-bottom: 30px;
}

.content p {
  margin: 20px 0;
  font-size: 1.25em;
  line-height: 1.5em;
}

.progress {
  height: 6px;
  position: absolute;
  top: 60px;
  left: 10px;
  right: 10px;
  z-index: 99;
}

.progress-bar {
  width: 0%;
  height: 100%;
  background: #ccc;
  border-radius: 32px;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #fff;
  z-index: 999;

  .inner {
    position: absolute;
    top: 45%;
    font-size: 30px;
    color: #666;
    text-align: center;
    width: 100%;
  }
}

/* Swipe */

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

#slider, .swipe-wrap {
  height: 100%;
  text-align: center;
}

.slide img {
  max-width: 100%;
  max-height: 100%;
}

.image-loading {
  font-size: 20px;
}